<% @page_title = t('admin.dashboard.title') %>

<% javascript_tag do -%>
Ext.onReady(function() {

  new Ext.Panel({
    title: '<%= tjs('admin.dashboard.intro.title') %>',
    collapsible: true,
    renderTo: 'panel-intro',
    html: '<p>' + '<%= tjs('admin.dashboard.intro.text') %>' + '</p>'
  });

});
<% end -%>

<div id="panel-intro"></div>

<div id="panel-first-panel"></div>

